{% extends "layout.html" %}
{% block head %} {% endblock %}
{% block navbar %} {% endblock %}
{% block content %}
<ul>
  <li><a class="active" href="home.html">Home</a></li>
  <li><a href="about.html">About</a></li>
  <li><a href="best.html">THE BEST</a></li>
  <li><a href="#types">Types of meat</a></li>
  <li><a href="#history">History</a></li>
  <li><a href="#gallery">Gallery</a></li>
  <li><a href="#contact">Contact me</a></li>
  quiz

  <li><img src="" alt="" style="width:50px;height:40px;"></li>
</ul>


<h1>hi</h1>



{% endblock %}